<h1 class="objectheader">{{ name }}</h1>
{% if summary != "" %}<i>{{ summary }}</i>{% endif %}
{% if description != "" %}<p>{{ description }}</p>{% endif %}
{#{% for tag in tags %}
{% if loop.first %}
<ul>
{% endif %}
<li>{{tag}}</li>
{% if loop.last %}
</ul>
{% endif %}
{% endfor %}#}