a {
    text-decoration: none;
}

pre {
    background-color: #202020;
    font-size: 0.9em;
    border: 1px solid #202020;
    border-radius: 4px;
    padding: 4px;
    color: white;
}

table {
    width: 100%;
}

th, tr {
    text-align: left;
    padding-left: 30px;
}

em {
    font-size: 0.8em;
}
