body {
    font-family: opensans;
    padding: 10pt;
    padding-top: 0pt;
}

a {
    text-decoration: none;
}

pre {
    background-color: transparent;
    font-size: 0.9em;
    border: .25px solid #e4e4e4;
    border-radius: 4px;
    padding: 4px;
    color: black;
}

table {
    width: 100%;
}

th, tr {
    text-align: left;
    padding-left: 30px;
}

em {
    font-size: 0.8em;
}

h1.objectheader {
    background-color: #fefefe;
    border: 1px solid #e4e4e4;
    color: goldenrod;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    page-break-before: always;
}

.underline {
    padding-bottom: 5px;
    border-bottom: 1px solid #e4e4e4;
    border-bottom-width: .25px;
}

div.keeptogether {
    page-break-inside: avoid;
    break-inside: avoid;
}
